<div class="modal fade" id="modalAgenda" tabindex="-1" aria-labelledby="modalAgendaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="{{ ruta }}" class="form" id="formAgendaModal">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgendaNombre"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body detalleAgenda"></div>
            </form>
        </div>
    </div>
</div>
