{% extends 'base.html' %}
{% load templatefunctions %}

{% block head %}
    <style>
        .row [class*='col-'] {
            background-clip: content-box;
        }
    </style>
{% endblock %}

{% block atras %}{{ request.path }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title mb-0">Formulario</h5>
                        </div>
                    </div>
                </div>

                <div class="card-body py-2">
                    <form method="post" enctype="multipart/form-data" action="{{ ruta }}" class="form">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="change"/>

                        <div class="row g-1">
                            {% for field in form %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                    <div class="col-lg-{{ field.field.widget.attrs.col }}">
                                        <div class="mb-2">
                                            <label class="form-label small mb-1" for="id_{{ field.name }}">{{ field.label }}</label><br>
                                            {{ field }}
                                            <div class="invalid-feedback" id="errorMessage{{ field.name }}"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="btn btn-danger btn-sm" href="{{ ruta }}">
                                    <i class="fa fa-window-close me-1"></i> Cancelar
                                </a>
                                <button {% if action != 'ver' %}type="submit" id="submit"{% else %}disabled{% endif %} class="btn btn-success btn-sm">
                                    <i class="fa fa-save me-1"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jscript %}
    <script src="/static/js/forms.js?version=1"></script>
    <link href="/static/assets/plugins/summernote/dist/summernote.css" rel="stylesheet"/>
    <script src="/static/assets/plugins/summernote/dist/summernote.min.js"></script>
    <script>
        var handleSummernote = function () {
            $('#id_sobrenosotros').summernote({
                placeholder: 'Ingrese Términos y Condiciones',
                height: '200px'
            });
        };

        var FormSummernote = function () {
            "use strict";
            return {
                init: function () {
                    handleSummernote();
                }
            };
        }();

        $(document).ready(function () {
            FormSummernote.init();
        });

        $(function () {
            $('.dropify').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var ico = $('#id_ico').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var logo = $('#id_logo_sistema').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var logo_sistema_white = $('#id_logo_sistema_white').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png"]
            });
            var fondo_perfil = $('#id_fondo_perfil').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var banner_login = $('#id_banner_login').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var fondoprincipal = $('#id_fondoprincipal').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var imagenprincipal = $('#id_imagenprincipal').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var imagen_landing = $('#id_imagen_landing').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var hojamembretada = $('#id_hojamembretada').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
            var token = $('#id_token').dropify({
                messages: {
                    default: 'Arrastre y suelte un archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                    remove: 'Eliminar',
                },
                imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
            });
        });
    </script>
    {{ form.media }}
{% endblock %}