<input type="hidden" name="pk" value="{{ instance.id }}">
<input type="hidden" name="action" value="{{ action }}">
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div id="fieldset_{{ field.name }}" class="col-lg-12">
            <div class="mb-3">
                {{ field.label_tag }}
                <div>
                    {{ field }}
                    <div class="invalid-feedback" id="errorMessage{{ field.name }}"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{{ form.media }}