<div class="row g-2">
    <input type="hidden" name="pk" value="{{ instance.id }}">
    <input type="hidden" name="action" value="{{ action }}">
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <div class="col-lg-{{ field.field.widget.attrs.col }}">
                <div class="mb-2">
                    <label class="form-label small mb-1" for="id_{{ field.name }}">{{ field.label }}</label><br>
                    {{ field }}
                    <div class="invalid-feedback" id="errorMessage{{ field.name }}"></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{{ form.media }}



<script src="/static/editor_emoji_picker/editor-emoji-picker.js"></script>
<link rel="stylesheet" href="/static/editor_emoji_picker/editor-emoji.picker.css">
<script>
   ['id_mensaje_bienvenida', 'id_mensaje_despedida'].forEach(editorEmojiPicker);
</script>