{% extends 'public/base.html' %}
{% block link %}{% endblock %}
{% block content %}

    <div class="d-flex flex-column align-items-center position-relative mt-100"
         style="margin-top: 125px; padding: 25px">
        <div class="d-flex flex-column align-items-center w-lg-50 h-100 px-3 px-lg-5 pt-2">
            <div class="w-100 mt-auto" style="max-width: 526px;">
                <h1>Iniciar Sesión</h1>
                {#                <p class="pb-3 mb-3 mb-lg-4">#}
                {#                    ¿Aún no tienes una cuenta?&nbsp;&nbsp;<a href='/register/'>Registrate ahora!</a>#}
                {#                </p>#}
                <form method="post" id="frm-logear">{% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                    <div class="pb-3 mb-3">
                        <div class="position-relative"><i
                                class="ai-user fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                            <input class="form-control form-control-lg ps-5" type="text"
                                   placeholder="Cédula de Identidad"
                                   name="usuario" id="id_usuario"
                                   required>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="position-relative"><i
                                class="ai-lock-closed fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                            <div class="password-toggle">
                                <input class="form-control form-control-lg ps-5" type="password"
                                       placeholder="Contraseña" name="password" id="password"
                                       required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span
                                        class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <br>
                        <span class="text-muted mt-6"><i class="fa fa-info-circle"></i> Nota: Si es la primera vez que ingresa su contraseña es su número de cédula</span>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between pb-4">
                        <a class="fs-sm fw-semibold text-decoration-none my-1" href="/restoreusername/">¿Olvidaste tu
                            nombre de usuario?</a>
                        <a class="fs-sm fw-semibold text-decoration-none my-1" href="/restorepass/">¿Olvidaste tu
                            contraseña?</a>
                    </div>
                    <button class="btn btn-lg btn-primary w-100 mb-4" type="submit">Ingresar a mi cuenta</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block jscript %}
    <script src="/static/js/sysend.js"></script>
    <script src="/static/js/infoClient.js"></script>
    <script>

        // Sincronización de sesiones entre pestañas
        sysend.on('login_successful', function (data) {
            console.log('Se recibió notificación de inicio de sesión en otra pestaña', data);

            // Guardar los datos de sesión recibidos
            localStorage.clear();
            localStorage.setItem('sessionid', data.sessionid);
            window.name = data.sessionid;

            // Mostrar mensaje de redirección
            Swal.fire({
                title: 'Sesión iniciada en otra ventana',
                text: 'Redirigiendo...',
                type: 'info',
                timer: 2000,
                showConfirmButton: false,
                customClass: {
                    popup: 'animated-popup'
                }
            }).then(function () {
                // Redirigir a la URL correspondiente
                window.location = data.url;
            });
        });

        $('#frm-logear').on({
            submit: async function (e) {
                e.preventDefault();
                var frmData = new FormData($(this)[0]);

                // Obtener información del cliente
                const clientInfo = await getClientInfo();

                // Añadir información al FormData
                frmData.append('navegador', clientInfo.browser);
                frmData.append('sistema_operativo', clientInfo.os);
                frmData.append('tipo_dispositivo', clientInfo.deviceType);
                frmData.append('ip_cliente_js', clientInfo.clientIP);
                frmData.append('tamano_pantalla', clientInfo.screenSize);

                $.ajax({
                    url: '/login/',
                    data: frmData,
                    method: 'POST',
                    dataType: 'json',
                    cache: false,
                    enctype: $(this).attr('enctype'),
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        pantallaespera()
                    }
                }).done(function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.resp === true) {
                        if (data.redirect) {
                            localStorage.clear();
                            localStorage.setItem('sessionid', data.sessionid);
                            window.name = data.sessionid;
                            window.location = data.redirect;
                            // Transmitir el éxito del login a todas las otras pestañas
                            sysend.broadcast('login_successful', {
                                sessionid: data.sessionid,
                                url: data.url,
                                timestamp: new Date().getTime()
                            });
                        } else {
                            location = "/";
                        }
                        return false;
                    } else {
                        mensajeDanger(data.error);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 403) {
                        location.reload();
                    }
                    mensajeDanger('Error de conexión.');
                });
            }
        });
    </script>
{% endblock %}