{% extends 'base.html' %}
{% block head %}
    <style>
        .jstree-anchor {
            /*enable wrapping*/
            white-space: normal !important;
            /*ensure lower nodes move down*/
            height: auto !important;
            /*offset icon width*/
            padding-right: 24px;
        }
    </style>
{% endblock %}
{% block atras %}{{ request.path }}{% endblock %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title mb-0">{{ titulo }} Formulario</h5>
                        </div>
                    </div>
                </div>

                <div class="card-body py-2">
                    <form method="post" enctype="multipart/form-data" action="{{ ruta }}" class="form">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ pk|default:0 }}"/>
                        <input type="hidden" name="action" value="{{ action }}"/>
                        {{ dict_url_vars_input }}

                        <div class="row g-1">
                            {% for field in form %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                    <div class="col-lg-6">
                                        <div class="mb-2">
                                            <label class="form-label small mb-1" for="id_{{ field.name }}">{{ field.label }}</label><br>
                                            {{ field }}
                                            {% if field.name == 'icono' %}
                                                {# <button id="buscarIcono" type="button" class="btn btn-light text-left btn-block mt-1">
                                                    <i class="fas fa-search me-1"></i> Buscar Ícono
                                                </button> #}
                                            {% endif %}
                                            {% if field.help_text %}
                                                <div class="small text-muted mt-1">{{ field.help_text }}</div>
                                            {% endif %}
                                            <div class="invalid-feedback" id="errorMessage{{ field.name }}"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label small mb-1" for="id_url_aplicaciones">URLs de Aplicaciones</label>
                                    <select id="busqueda" multiple class="form-select select2"
                                            data-placeholder="Buscar por Aplicación">
                                        {% for c in urls_sistema %}
                                            <option value="{{ c.nombre }}">{{ c.nombre }}</option>
                                        {% endfor %}
                                    </select>

                                    <!-- Checkboxes ocultos -->
                                    {% for c in urls_sistema %}
                                        {% if c.sub_urls %}
                                            {% for sc in c.sub_urls %}
                                                {% with '/'|add:c.url|add:sc.url as link_modulo %}
                                                    {% autoescape on %}
                                                        <input style="display: none;"
                                                               id="url_{{ forloop.counter }}_{{ forloop.parentloop.counter }}"
                                                               type="checkbox" name="c_modulos"
                                                               value='{{ sc.dicValue }}'
                                                               {% if link_modulo in modulos_seleccionados %}checked{% endif %}>
                                                    {% endautoescape %}
                                                {% endwith %}
                                            {% endfor %}
                                        {% else %}
                                            {% with '/'|add:c.url as link_modulo %}
                                                {% autoescape on %}
                                                    <input style="display: none;" id="url_{{ forloop.counter }}" type="checkbox"
                                                           name="c_modulos"
                                                           value='{"nombre": "{{ c.nombre }}", "url": "/{{ c.url }}", "orden": {{ forloop.counter0 }}}'
                                                           {% if link_modulo in modulos_seleccionados %}checked{% endif %}>
                                                {% endautoescape %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}

                                    <!-- Árbol de URLs -->
                                    <div id="jstree-modulos-urls" class="border rounded p-3 mt-2">
                                        {% autoescape on %}
                                            <ul>
                                                {% for c in urls_sistema %}
                                                    <li data-paraBuscar="{{ c.nombre }}" data-jstree='{"opened":true, "dnd":false}'>
                                                        <label class="me-2" for="app_{{ forloop.counter }}">{{ c.nombre }}
                                                            ({{ c.url }})</label>
                                                        {% if c.sub_urls %}
                                                            <ul>
                                                                {% for sc in c.sub_urls %}
                                                                    {% with '/'|add:c.url|add:sc.url as link_modulo %}
                                                                        <li data-jstree='{{ sc.dicJsTree }}'>
                                                                            {{ sc.nombre }} - (/{{ c.url }}{{ sc.url }})
                                                                        </li>
                                                                    {% endwith %}
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endautoescape %}
                                    </div>
                                    <div class="invalid-feedback" id="errorMessageurl_aplicaciones"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="btn btn-danger btn-sm" href="{{ ruta }}?{{ dict_url_vars_completo }}">
                                    <i class="fa fa-window-close me-1"></i> Cancelar
                                </a>
                                <button {% if action != 'ver' %}type="submit" id="submit"{% else %}disabled{% endif %} class="btn btn-success btn-sm">
                                    <i class="fa fa-save me-1"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->

    <div class="modal fade" id="modalIcons" tabindex="-1" aria-labelledby="modalIconsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalIconsLabel">Seleccione un ícono</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label small mb-1">Buscar ícono</label>
                                <div class="input-group">
                                    <span class="input-group-text border-end-0">
                                        <i class="fa fa-search text-muted"></i>
                                    </span>
                                    <input id="txtBuscarIcono" type="search" class="form-control border-start-0"
                                           placeholder="Buscar (en inglés también)"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="iconsContainer" class="row g-2">
                        <!-- Contenido dinámico de íconos -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                        <i class="fa fa-window-close me-1"></i> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscript %}
    <link href="/static/assets/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet"/>
    <script src="/static/assets/plugins/jstree/dist/jstree.min.js"></script>
    <script src="/static/validaciones/funciones.js?v=2.2"></script>
    <script src="/static/js/urlsymodulos/urlsymodulos.js"></script>
    {{ form.media }}
    <script>
        $(document).ready(function() {
            // Inicializar Select2
            $('.select2').select2({
                width: '100%'
            });

            // Manejar cambios en el selector de filtro
            $('#busqueda').change(function() {
                var seleccionadas = $(this).children('option:selected').toArray();
                var opciones = [];
                for (var i = 0; i < seleccionadas.length; i++) {
                    opciones.push($(seleccionadas[i]).val().toUpperCase())
                }
                if (seleccionadas.length > 0) {
                    $('.jstree-container-ul > li').each(function() {
                        var currentLiText = $(this).attr('data-paraBuscar').toUpperCase(),
                            showCurrentLi = opciones.indexOf(currentLiText) !== -1;
                        $(this).toggle(showCurrentLi);
                    });
                } else {
                    $('.jstree-container-ul > li').each(function() {
                        $(this).toggle(true);
                    });
                }
            });

            // Si está descomentado, asociar el evento del botón de buscar ícono
            /*
            $('#buscarIcono').on('click', function() {
                const modal = new bootstrap.Modal(document.getElementById('modalIcons'));
                modal.show();
            });
            */
        });
    </script>
{% endblock %}