
<div class="card cardActividad" id="{{ ticket.id }}" data-name="{{ ticket.titulo }}">
    <div class="card-body p-2">
        <div class="d-flex justify-content-between">
            <div data-id="{{ ticket.id }}">
                <h6 class="mt-1 mb-0">{{ ticket.titulo }}</h6>

                <span class="text-muted" style="font-size: 10px">COD{{ ticket.id }} | {{ ticket.empresa|title }} | </span>
                {% if l.prioridad == 1 %}
                      <span class="badge bg-primary">{{ ticket.get_prioridad_display }}</span>
                {% elif l.prioridad == 2 %}
                      <span class="badge bg-warning">{{ ticket.get_prioridad_display }}</span>
                {% elif l.prioridad == 3 %}
                      <span class="badge bg-danger">{{ ticket.get_prioridad_display }}</span>
                {% endif %}
            </div>
            <div>
                <div class="dropdown dropstart">
                    <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                       href="javascript:void(0)" id="dropdownTask1"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu">

                         <a class="dropdown-item" href="javascript:void(0);"
                           onclick="verModalPostAjax('cambiarestado', '{{ l.pk }}', 'fas fa-refresh')">
                            <i class="fas fa-refresh me-2 text-success"></i> Cambiar estado
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);"
                           onclick="verModalPostAjax('detalleticket', '{{ l.pk }}', 'fas fa-info-circle')">
                            <i class="fas fa-info-circle me-2 text-primary"></i> Detalle
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);"
                           onclick="verModalPostAjax('comentarios', '{{ l.pk }}', 'fas fa-comment-dots')">
                            <i class="fs-5 las la-user-clock text-danger me-2"></i> Comentarios
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-0">
            <div class="d-flex align-items-center">
                <div style="font-size: 10px">
                    <i class="fa fa-calendar text-muted me-1"></i> {{ ticket.fecha_registro|date:'d-m-Y | h:i' }}
                </div>
            </div>
            <div>
                <span class="btn-icon btn btn-ghost btn-sm rounded-circle">
                    <a class="fa fa-list-alt text-muted" onclick="verModalPostAjax('detalleticket', '{{ l.pk }}', 'fas fa-info-circle')" href="javascript:void(0)"></a>

                </span>

            </div>
        </div>
    </div>
</div>