{% extends 'base.html' %}
{% block jscript %}
    <script src="/static/js/forms.js?version=1.1"></script>
{% endblock %}
{% block content %}

    {% if not PUEDE_VER %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body text-center">
                        <img class="mb-2" src="/media/{{ confi.imagen_landing }}" style="width: 150px">
                        <h3>{{ confi.titulo }}</h3>
                        <p class="mb-3">Para comenzar a gestionar tickets, necesitas ser <b>responsable</b> de una empresa o <b>super usuario</b>.</p>
                        <a href="javascript:void(0)"
                           onclick="contactWS('{{ confi.telefono_empresa }}', '{{ nombreempresa }}')"
                           class="btn btn-success"><i class="fab fa-whatsapp"></i> Contactar un asesor</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

    <div class="card mb-3">
        <div class="card-body">
            <form method="GET" class="mb-0">
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Búsqueda general</label>
                        <div class="input-group">
                            <span class="input-group-text border-end-0">
                                <i class="fa fa-search text-muted"></i>
                            </span>
                            <input type="text" class="form-control border-start-0"
                                   placeholder="Buscar por nombres, apellidos o nombre de equipo" name="criterio" value="{{ criterio }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Documento</label>
                        <div class="input-group">
                            <span class="input-group-text border-end-0">
                                <i class="fa fa-id-card text-muted"></i>
                            </span>
                            <input type="text" class="form-control border-start-0"
                                   placeholder="Número de documento" name="documento"
                                   value="{{ documento|default:'' }}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Acciones</label>
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn btn-primary text-center">
                                <i class="fas fa-search"></i>
                            </button>
                            {% if url_vars %}
                                <a href="{{ request.path }}" class="btn btn-default">
                                    <i class="fas fa-times"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row align-items-center mb-3">
        <div class="col-md-12 mb-2 mb-md-0">
            <a href="javascript:void(0)"
               onclick="verModalPostAjax('addticket', '', 'fas fa-users-plus', 'modal-xl')"
               class="btn btn-success">
                <i class="fas fa-plus-circle me-2"></i> Nuevo Registro
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center w-5">N</th>
                            <th class="w-30">Ticket</th>
                            <th class="text-center w-30">Documento</th>
    {#                        <th class="text-left w-20">Usuario</th>#}
                            <th class="text-left w-20">Estado</th>
                            <th class="w-10">Fechas</th>
                            <th class="text-center w-5"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for l in listado %}
                        <tr>
                            <td class="text-center align-middle">
                                {{ forloop.counter }}
                            </td>
                            <td class="align-middle">
                                <h6>
                                    {{ l.codigo }} | {{ l.empresa.nombre }}

                                </h6>
                                <h6 class="mb-0 fw-semibold">{{ l.titulo }}
                                <a href="javascript:void(0);"
                                   onclick="verModalPostAjax('detalleticket', '{{ l.pk }}', 'fas fa-info-circle')">
                                    <i class="fas fa-info-circle text-primary" title="Detalle del ticket"
                                       data-bs-toggle="tooltip"></i>
                                </a>
                                </h6>
                                <p class="" data-bs-toggle="tooltip" title="{{ l.descripcion }}">{{ l.descripcion|truncatechars:"60" }}</p>
                            </td>
                            <td class="text-center align-middle">
                                {% for documento in l.get_archivos %}
                                    {{ documento.component_archive|safe }}
                                {% endfor %}
                            </td>
{#                            <td class="text-left align-middle">#}
{#                                <div class="d-flex justify-content-between align-items-center">#}
{#                                    {% with person=l.usuario %}#}
{#                                        <div class="d-flex align-items-center">#}
{#                                            <a href="{{ person.get_foto_gris }}"#}
{#                                               data-fancybox="image"#}
{#                                               data-width="2048"#}
{#                                               data-height="1365"#}
{#                                               title="{{ person.user.username }}">#}
{#                                                <img id="presentaimg2" class="img-circle"#}
{#                                                     src="{{ person.get_foto_gris }}"#}
{#                                                     style="border-radius: 50%;" width="35px"#}
{#                                                     height="35px">#}
{#                                            </a>#}
{#                                            <div class="info-top ml-4">#}
{##}
{#                                                <span><b>{{ person.full_name }}</b></span><br>#}
{#                                                <span>{{ person.documento }}</span><br>#}
{#                                                {% if person.email %}#}
{#                                                    <a href="mailto:{{ person.email }}"><i#}
{#                                                            class="fa fa-envelope"></i> {{ person.email }}#}
{#                                                    </a><br>#}
{#                                                {% endif %}#}
{#                                                {% if l.telefono_formateado %}#}
{#                                                     <div class="mb-0">#}
{#                                                    <i class="fa fa-phone text-success me-1"></i>#}
{#                                                    <a href="javascript:void(0)" class="text-primary"#}
{#                                                       onclick="contactarwhatsapp('{{ l.telefono_formateado }}', '{{ l.get_full_name }}')">#}
{#                                                        {{ l.telefono_formateado }}#}
{#                                                    </a>#}
{#                                                </div>#}
{#                                                {% endif %}#}
{##}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endwith %}#}
{#                                </div>#}
{#                            </td>#}
                            <td class="align-middle">
                                <span class="badge {{ l.get_color_estado }} fs-6">
                                    {{ l.get_estado_display }}
                                </span>
                            </td>
                            <td class="align-middle">
                                <p class="mb-0">
                                    <b>Registro:</b>
                                    {{ l.fecha_registro|date:'d/M/Y | H:i'|default:'Sin registro'}}
                                </p>
                               <p class="mb-0">
                                   <b>Inicio:</b> {{ l.finicioactividad|date:'d/M/Y | H:m'|default:'Sin registro' }}
                                </p>
                                <p><b>Fin:</b> {{ l.ffinactividad|date:'d/M/Y | H:m'|default:'Sin registro' }}</p>
                            </td>
                            <td class="text-center align-middle">
                                <!-- Menú de acciones reemplazado por el clásico de tres puntos -->
                                <div class="dropdown">
                                    <button class="btn btn-icon" type="button" id="dropdownMenuButton-{{ l.pk }}"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background: none; border: none;">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="dropdownMenuButton-{{ l.pk }}">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="verModalPostAjax('detalleticket', '{{ l.pk }}', 'fas fa-info-circle')">
                                                <i class="fas fa-info-circle me-2 text-primary"></i> Detalle
                                            </a>
                                        </li>

                                        {% if l.estado == 1 or l.estado == 2 %}
                                            <li>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   onclick="verModalPostAjax('editticket', '{{ l.pk }}', 'fas fa-users', 'modal-xl')">
                                                    <i class="fas fa-edit me-2 text-primary"></i> Editar
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   onclick="eliminarajax('{{ l.pk }}', '{{ l }}', 'delticket')">
                                                    <i class="fas fa-trash me-2 text-danger"></i> Eliminar
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "paginacion.html" %}
        </div>
    </div>

    {% endif %}

{% endblock %}


