{% extends 'base.html' %}
{% block jscript %}
    <script src="/static/js/forms.js?version=1"></script>
{% endblock %}
{% block content %}

    <div class="card mb-3">
        <div class="card-body">
            <form method="GET" class="mb-0">
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Búsqueda general</label>
                        <div class="input-group">
                            <span class="input-group-text border-end-0">
                                <i class="fa fa-search text-muted"></i>
                            </span>
                            <input type="text" class="form-control border-start-0"
                                   placeholder="Buscar por nombres, apellidos o nombre de equipo" name="criterio" value="{{ criterio }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Documento</label>
                        <div class="input-group">
                            <span class="input-group-text border-end-0">
                                <i class="fa fa-id-card text-muted"></i>
                            </span>
                            <input type="text" class="form-control border-start-0"
                                   placeholder="Número de documento" name="documento"
                                   value="{{ documento|default:'' }}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Acciones</label>
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn btn-primary text-center">
                                <i class="fas fa-search"></i>
                            </button>
                            {% if url_vars %}
                                <a href="{{ request.path }}" class="btn btn-default">
                                    <i class="fas fa-times"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row align-items-center mb-3">
        <div class="col-md-12 mb-2 mb-md-0">
            <a href="javascript:void(0)"
               onclick="verModalPostAjax('addequipo', '', 'fas fa-users-plus','')"
               class="btn btn-success">
                <i class="fas fa-plus-circle me-2"></i> Nuevo Registro
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="text-center w-5">N</th>
                        <th class="text-center w-30">Equipo</th>
                        <th class="text-left w-20">Líder</th>
                        <th class="text-left w-20">Integrantes</th>
                        <th class="text-center w-10">Fecha Registro</th>
                        <th class="text-center w-5"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in listado %}
                        <tr>
                            <td class="text-center align-middle">
                                {{ forloop.counter }}
                            </td>
                            <td class="align-middle">
                                <h6 class="mb-1 fw-semibold">{{ l.nombre }}

                                </h6>
                                <p class="mb-0">{{ l.descripcion|truncatechars:"50" }}</p>
{#                                <p class="mb-0">#}
{#                                     {% if l.automatico %}#}
{#                                        <span class="badge bg-success">Distribución automática</span>#}
{#                                     {% else %}#}
{#                                        <span class="badge bg-primary">Líder distribuye los requerimientos</span>#}
{#                                    {% endif %}#}
{#                                 {% if l.esgestor %}#}
{#                                    <span class="badge bg-secondary">Es equipo gestor</span>#}
{#                                {% endif %}#}
{#                                </p>#}
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-flex justify-content-between align-items-center">
                                    {% with person=l.lider %}
                                        <div class="d-flex align-items-center">
                                            <a href="{{ person.get_foto_gris }}"
                                               data-fancybox="image"
                                               data-width="2048"
                                               data-height="1365"
                                               title="{{ person.user.username }}">
                                                <img id="presentaimg2" class="img-circle"
                                                     src="{{ person.get_foto_gris }}"
                                                     style="border-radius: 50%;" width="45px"
                                                     height="45px">
                                            </a>
                                            <div class="info-top ml-4">
                                                <span><b>{{ person.full_name }}</b></span><br>
                                                {% if person.email %}
                                                    <a href="mailto:{{ person.email }}"><i
                                                            class="fa fa-envelope"></i> {{ person.email }}
                                                    </a><br>
                                                {% endif %}

                                            </div>
                                        </div>
                                    {% endwith %}
                                </div>
                            </td>
                            <td class="align-middle">
                                <ul>
                                    {% for integrante in l.integrantes.all %}
                                        <li>{{ integrante.full_name }} </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-center align-middle">
                                {{ l.fecha_registro|date:'d/M/Y H:i'|safe }}
                            </td>
                            <td class="text-center align-middle">
                                <!-- Menú de acciones reemplazado por el clásico de tres puntos -->
                                <div class="dropdown">
                                    <button class="btn btn-icon" type="button" id="dropdownMenuButton-{{ l.pk }}"
                                            data-bs-toggle="dropdown" aria-expanded="false"
                                            style="background: none; border: none;">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="dropdownMenuButton-{{ l.pk }}">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="verModalPostAjax('editequipo', '{{ l.pk }}', 'fas fa-users')">
                                                <i class="fas fa-edit me-2 text-primary"></i> Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="eliminarajax('{{ l.pk }}', '{{ l }}', 'delequipo')">
                                                <i class="fas fa-trash me-2 text-danger"></i> Eliminar
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "paginacion.html" %}
        </div>
    </div>


{% endblock %}


