{% extends 'base.html' %}
{% block head %}
    <link href="/static/dragula/dist/dragula.min.css" rel="stylesheet"/>
    <style>
        .containerMenu > * {
            grid-column: col-start / span 12;
        }

        .menuPanelCard {
            list-style: none;
            margin: 0em !important;
            padding: 0px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            display: grid;
            grid-gap: 28px;
            grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        }

        @media only screen and (max-width: 750px) {
            .menuPanelCard {
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            }
        }

        @media only screen and (max-width: 1020px) and (min-width: 751px) {
            .menuPanelCard {
                grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
            }
        }

        #do, #progress, #done {
            min-height: 200px;
            background-color: #f8f8f8;
            border: 1px dashed #ccc;
            padding: 10px;
        }

        .card {
            margin-bottom: 15px;
        }

        .task-card {
            {#background-color: #fff;#}
            border-radius: 8px;
            padding: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }


    </style>
    <script src="/static/dragula/dist/dragula.min.js"></script>
{% endblock %}

{% block jscript %}
    <script src="/static/js/forms.js?version=1"></script>

    <script>
        $(function () {
            const drake = dragula([document.querySelector("#do"), document.querySelector("#progress"), document.querySelector("#done")]);

            drake.on('drop', (el, target, source, sibling) => {
                var actividadid_ = el.id;
                var objdesc = target.id;
                var anteriordesc = source.id;
                console.log(objdesc)
                if (objdesc !== anteriordesc) {
                    $.ajax({
                        type: "POST",
                        url: '{{ request.path }}',
                        data: {action: objdesc, idactividad: actividadid_},
                        success: function (data) {
                            $.unblockUI();
                            if (data.resp) {
                                alertaSuccess('Actividad actualizada con éxito');
                                $('#countdo').html(data.totdo);
                                $('#countprogress').html(data.totprogress);
                                $('#countdone').html(data.totdone);
                            } else {
                                mensajeWarning(data.message);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            mensajeWarning("Error de conexión.");
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form method="GET" class="">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="btn-group" role="group" aria-label="View mode">
                        <a href="{{ request.path }}" class="btn btn-primary" title="Vista de tarjetas"><i class="fas fa-th-large"></i></a>
                        <a href="{{ request.path }}?action=listtickets" class="btn btn-outline-primary" title="Vista de lista"><i class="fas fa-list"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar por título de la actividad..."
                               aria-label="Buscar" aria-describedby="button-addon2" name="s" value="{{ s }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                            {% if url_vars %}
                                <a title="Ver todo" href="{{ request.path }}" class="btn btn-default tr">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row task-kanban-container">
            <div class="col-lg-12 p-0">
                <div class="containerMenu">
                    <div class="menuPanelCard">
                        <!-- Panel de tareas 'Por hacer' -->
                        <div class="card shadow-none rounded-3 task-card todo border-top border-6 rounded-3 border-dark" style="width: 100%;">
                            <div class="card-body p-2">
                                <h6 class="">Por hacer <b id="countdo">{{ tickets_pendientes|length }}</b> actividades</h6>

                                <div class="task-kanban">
                                    <div id="do">
                                        {% for l in tickets_pendientes %}
                                            {% include "ticket/card_ticket.html" with ticket=l %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Panel de tareas 'En curso' -->
                        <div class="card shadow-none rounded-3 task-card toprogress border-top border-6 rounded-3 border-primary" style="width: 100%;">
                            <div class="card-body p-2 ">
                                <h6 >En curso <b id="countprogress">{{ tickets_enproceso|length }}</b> actividades</h6>

                                <div class="task-kanban">
                                    <div id="progress">
                                        {% for l in tickets_enproceso %}
                                           {% include "ticket/card_ticket.html" with ticket=l %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Panel de tareas 'Finalizadas' -->
                        <div class="card shadow-none rounded-3 task-card todone border-top border-6 rounded-3 border-success" style="width: 100%;">
                            <div class="card-body p-2">
                                <h6>Finalizadas <b id="countdone">{{ tickets_finalizadas|length }}</b> actividades</h6>

                                <div class="task-kanban">
                                    <div id="done">
                                        {% for l in tickets_finalizadas %}
                                            {% include "ticket/card_ticket.html" with ticket=l %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
