{% for field in form %}
    <div id="fieldset_{{ field.name }}" class="col-lg-{% if field.field.widget.attrs.col %}{{ field.field.widget.attrs.col }}{% else %}12{% endif %}
                                            {% if field.field.widget.is_hidden %}d-none{% endif %} mb-2">
        <label class="field-label pr-2 mb-1" for="id_{{ field.name }}" data-toggle="tooltip" title="{{ field.field.widget.attrs.tooltip }}">
            <i id="icon_{{ field.name }} dropdow-item-icon" class="{{ field.field.widget.attrs.icon }}"></i> {{ field.label }}&nbsp;:
        </label>
        <div class="w-{% if not field.field.widget.attrs.w %}100{% else %}{{ field.field.widget.attrs.w }}{% endif %}">
            {% if field.field.widget.input_type == 'file' %}
                <div class="input-group">

                    <input type="file" class="form-control {{ field.field.widget.attrs.class }}"
                           {% if field.field.widget.attrs.dropify and field.value %}data-default-file="{{ field.value.url }}" value="{{ field.value.url }}"{% endif %}
                           name="{{ field.name }}" id="id_{{ field.name }}"
                           {% if field.field.required %}required{% endif %}
                           accept="{{ field.field.widget.attrs.accept }}"
                           aria-describedby="inputGroupFileAddon03"
                           aria-label="Upload">

                </div>
            {% elif field.field.widget.attrs.input_group %}
                <div class="input-group">
                    <span class="input-group-text">{{ field.field.widget.attrs.input_group|safe  }}</span>
                    {{ field }}
                </div>
            {% else %}
                {{ field }}
            {% endif %}
             <div class="invalid-feedback" id="errorMessage{{ field.name }}"></div>
        </div>
    </div>
    {% if field.name == 'tipoparticipante' %}
        <div id="info_certifi" class="info_certifi " style="display: none"></div>
    {% endif %}
{% endfor %}