<script>
    $(function () {
        $(document).on('shown.bs.modal', '.modal', function () {
            const currentModal = $(this);

            // Reiniciar Select2 (forzar reinicialización limpia)
            currentModal.find('.select2').each(function () {
                const $select = $(this);

                // Si ya estaba inicializado, destruirlo primero
                if ($select.hasClass("select2-hidden-accessible")) {
                    $select.select2('destroy');
                }

                // Inicializar nuevamente con dropdown en el modal
                $select.select2({
                    dropdownParent: currentModal,
                    width: '100%'
                });
            });

            // Inicializar Dropify si corresponde
            if ($.fn.dropify) {
                currentModal.find('.dropify:not(.dropify-initialized)').each(function () {
                    $(this).dropify({
                        messages: {
                            default: 'Arrastre y suelte un archivo o haga clic aquí.',
                            replace: 'Arrastre y suelte un archivo o haga clic aquí.',
                            remove: 'Eliminar',
                        },
                        imgFileExtensions: ["jpg", "jpeg", "png", "tiff", "jfif", "svg"]
                    }).addClass('dropify-initialized');
                });
            }
        });
    });
</script>
