{% extends 'base.html' %}
{% block content %}

    <div class="card">
        <div class="card-header py-2">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="card-title mb-0">URLs del Sistema</h5>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label class="form-label small mb-1">Filtrar por Aplicación</label>
                <select id="busqueda" multiple class="select2 form-control" data-placeholder="Buscar por Aplicación">
                    {% for c in urls_sistema %}
                        <option value="{{ c.nombre }}">{{ c.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="table-responsive mt-3">
                <div id="jstree-listado-modulos-urls">
                    <ul>
                        {% for c in urls_sistema %}
                            <li data-paraBuscar="{{ c.nombre }}" data-jstree='{"opened":true, "dnd":false}'>
                                <label class="me-2" for="app_{{ forloop.counter }}">{{ c.nombre }} ({{ c.url }})</label>
                                {% if c.sub_urls %}
                                    <ul>
                                        {% for sc in c.sub_urls %}
                                            {% with '/'|add:c.url|add:sc.url as link_modulo %}
                                                <li data-jstree='{{ sc.dicJsTree }}'>
                                                    {{ sc.nombre }} - (/{{ c.url }}{{ sc.url }})
                                                </li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jscript %}
    <link href="/static/assets/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet"/>
    <script src="/static/assets/plugins/jstree/dist/jstree.min.js"></script>
    <script src="/static/js/urlsymodulos/urlsymodulos.js"></script>
    <script>
        $(document).ready(function () {
            // Inicializar Select2
            $('.select2').select2({
                width: '100%'
            });

            // Manejar cambios en el selector de filtro
            $('#busqueda').change(function () {
                var seleccionadas = $(this).children('option:selected').toArray();
                var opciones = [];
                for (var i = 0; i < seleccionadas.length; i++) {
                    opciones.push($(seleccionadas[i]).val().toUpperCase())
                }
                if (seleccionadas.length > 0) {
                    $('.jstree-container-ul > li').each(function () {
                        var currentLiText = $(this).attr('data-paraBuscar').toUpperCase(),
                            showCurrentLi = opciones.indexOf(currentLiText) !== -1;
                        $(this).toggle(showCurrentLi);
                    });
                } else {
                    $('.jstree-container-ul > li').each(function () {
                        $(this).toggle(true);
                    });
                }
            });
        });
    </script>
{% endblock %}