.orden-input {
    width: 80px;
    margin: 0 auto;
    text-align: center;
}

.orden-input::-webkit-inner-spin-button,
.orden-input::-webkit-outer-spin-button {
    opacity: 1;
}

.btn-icon {
    background: none;
    border: none;
}
