html {
    font-size: 100%;
}

a, .page-title {
    color: #4a80ec;
}

a:hover, a:focus {
    color: #004de5;
}

body, button, input, select, textarea, .ast-button, .ast-custom-button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
}

blockquote {
    color: #000000;
}

h1, .entry-content h1, h2, .entry-content h2, h3, .entry-content h3, h4, .entry-content h4, h5, .entry-content h5, h6, .entry-content h6, .site-title, .site-title a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.site-title {
    font-size: 35px;
    font-size: 2.1875rem;
}

header .site-logo-img .custom-logo-link img {
    max-width: 165px;
}

.astra-logo-svg {
    width: 165px;
}

.ast-archive-description .ast-archive-title {
    font-size: 40px;
    font-size: 2.5rem;
}

.site-header .site-description {
    font-size: 15px;
    font-size: 0.9375rem;
}

.entry-title {
    font-size: 30px;
    font-size: 1.875rem;
}

.comment-reply-title {
    font-size: 26px;
    font-size: 1.625rem;
}

.ast-comment-list #cancel-comment-reply-link {
    font-size: 16px;
    font-size: 1rem;
}

h1, .entry-content h1 {
    font-size: 48px;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

h2, .entry-content h2 {
    font-size: 35px;
    font-size: 2.1875rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

h3, .entry-content h3 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

h4, .entry-content h4 {
    font-size: 18px;
    font-size: 1.125rem;
}

h5, .entry-content h5 {
    font-size: 16px;
    font-size: 1rem;
}

h6, .entry-content h6 {
    font-size: 14px;
    font-size: 0.875rem;
}

.ast-single-post .entry-title, .page-title {
    font-size: 22px;
    font-size: 1.375rem;
}

#secondary, #secondary button, #secondary input, #secondary select, #secondary textarea {
    font-size: 16px;
    font-size: 1rem;
}

::selection {
    background-color: #004de5;
    color: #ffffff;
}

body, h1, .entry-title a, .entry-content h1, h2, .entry-content h2, h3, .entry-content h3, h4, .entry-content h4, h5, .entry-content h5, h6, .entry-content h6, .wc-block-grid__product-title {
    color: #3a3a3a;
}

.tagcloud a:hover, .tagcloud a:focus, .tagcloud a.current-item {
    color: #ffffff;
    border-color: #4a80ec;
    background-color: #4a80ec;
}

.main-header-menu .menu-link, .ast-header-custom-item a {
    color: #3a3a3a;
}

.main-header-menu .menu-item:hover > .menu-link, .main-header-menu .menu-item:hover > .ast-menu-toggle, .main-header-menu .ast-masthead-custom-menu-items a:hover, .main-header-menu .menu-item.focus > .menu-link, .main-header-menu .menu-item.focus > .ast-menu-toggle, .main-header-menu .current-menu-item > .menu-link, .main-header-menu .current-menu-ancestor > .menu-link, .main-header-menu .current-menu-item > .ast-menu-toggle, .main-header-menu .current-menu-ancestor > .ast-menu-toggle {
    color: #03b1b7;
}

input:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="reset"]:focus, input[type="search"]:focus, textarea:focus {
    border-color: #4a80ec;
}

input[type="radio"]:checked, input[type=reset], input[type="checkbox"]:checked, input[type="checkbox"]:hover:checked, input[type="checkbox"]:focus:checked, input[type=range]::-webkit-slider-thumb {
    border-color: #4a80ec;
    background-color: #4a80ec;
    box-shadow: none;
}

.site-footer a:hover + .post-count, .site-footer a:focus + .post-count {
    background: #4a80ec;
    border-color: #4a80ec;
}

.ast-small-footer {
    color: #ffffff;
}

.ast-small-footer > .ast-footer-overlay {
    background-color: #0984e3;
}

.footer-adv .footer-adv-overlay {
    border-top-style: solid;
    border-top-color: #7a7a7a;
}

.ast-comment-meta {
    line-height: 1.666666667;
    font-size: 13px;
    font-size: 0.8125rem;
}

.single .nav-links .nav-previous, .single .nav-links .nav-next, .single .ast-author-details .author-title, .ast-comment-meta {
    color: #4a80ec;
}

.entry-meta, .entry-meta * {
    line-height: 1.45;
    color: #4a80ec;
}

.entry-meta a:hover, .entry-meta a:hover *, .entry-meta a:focus, .entry-meta a:focus * {
    color: #004de5;
}

.ast-404-layout-1 .ast-404-text {
    font-size: 200px;
    font-size: 12.5rem;
}

.widget-title {
    font-size: 22px;
    font-size: 1.375rem;
    color: #3a3a3a;
}

#cat option, .secondary .calendar_wrap thead a, .secondary .calendar_wrap thead a:visited {
    color: #4a80ec;
}

.secondary .calendar_wrap #today, .ast-progress-val span {
    background: #4a80ec;
}

.secondary a:hover + .post-count, .secondary a:focus + .post-count {
    background: #4a80ec;
    border-color: #4a80ec;
}

.calendar_wrap #today > a {
    color: #ffffff;
}

.ast-pagination a, .page-links .page-link, .single .post-navigation a {
    color: #4a80ec;
}

.ast-pagination a:hover, .ast-pagination a:focus, .ast-pagination > span:hover:not(.dots), .ast-pagination > span.current, .page-links > .page-link, .page-links .page-link:hover, .post-navigation a:hover {
    color: #004de5;
}

.ast-header-break-point .ast-mobile-menu-buttons-minimal.menu-toggle {
    background: transparent;
    color: #ffffff;
}

.ast-header-break-point .ast-mobile-menu-buttons-outline.menu-toggle {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.ast-header-break-point .ast-mobile-menu-buttons-fill.menu-toggle {
    background: #ffffff;
    color: #000000;
}

@media (max-width: 782px) {
    .entry-content .wp-block-columns .wp-block-column {
        margin-left: 0px;
    }
}

@media (max-width: 921px) {
    #secondary.secondary {
        padding-top: 0;
    }

    .ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single {
        padding: 1.5em 2.14em;
    }

    .ast-separate-container #primary, .ast-separate-container #secondary {
        padding: 1.5em 0;
    }

    .ast-separate-container.ast-right-sidebar #secondary {
        padding-left: 1em;
        padding-right: 1em;
    }

    .ast-separate-container.ast-two-container #secondary {
        padding-left: 0;
        padding-right: 0;
    }

    .ast-page-builder-template .entry-header #secondary {
        margin-top: 1.5em;
    }

    .ast-page-builder-template #secondary {
        margin-top: 1.5em;
    }

    #primary, #secondary {
        padding: 1.5em 0;
        margin: 0;
    }

    .ast-left-sidebar #content > .ast-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .ast-author-box img.avatar {
        margin: 20px 0 0 0;
    }

    .ast-pagination {
        padding-top: 1.5em;
        text-align: center;
    }

    .ast-pagination .next.page-numbers {
        display: inherit;
        float: none;
    }
}

@media (max-width: 921px) {
    .ast-page-builder-template.ast-left-sidebar #secondary {
        padding-right: 20px;
    }

    .ast-page-builder-template.ast-right-sidebar #secondary {
        padding-left: 20px;
    }

    .ast-right-sidebar #primary {
        padding-right: 0;
    }

    .ast-right-sidebar #secondary {
        padding-left: 0;
    }

    .ast-left-sidebar #primary {
        padding-left: 0;
    }

    .ast-left-sidebar #secondary {
        padding-right: 0;
    }

    .ast-pagination .prev.page-numbers {
        padding-left: .5em;
    }

    .ast-pagination .next.page-numbers {
        padding-right: .5em;
    }
}

@media (min-width: 922px) {
    .ast-separate-container.ast-right-sidebar #primary, .ast-separate-container.ast-left-sidebar #primary {
        border: 0;
    }

    .ast-separate-container.ast-right-sidebar #secondary, .ast-separate-container.ast-left-sidebar #secondary {
        border: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .ast-separate-container.ast-two-container #secondary .widget:last-child {
        margin-bottom: 0;
    }

    .ast-separate-container .ast-comment-list li .comment-respond {
        padding-left: 2.66666em;
        padding-right: 2.66666em;
    }

    .ast-author-box {
        -js-display: flex;
        display: flex;
    }

    .ast-author-bio {
        flex: 1;
    }

    .error404.ast-separate-container #primary, .search-no-results.ast-separate-container #primary {
        margin-bottom: 4em;
    }
}

@media (min-width: 922px) {
    .ast-right-sidebar #primary {
        border-right: 1px solid #eee;
    }

    .ast-right-sidebar #secondary {
        border-left: 1px solid #eee;
        margin-left: -1px;
    }

    .ast-left-sidebar #primary {
        border-left: 1px solid #eee;
    }

    .ast-left-sidebar #secondary {
        border-right: 1px solid #eee;
        margin-right: -1px;
    }

    .ast-separate-container.ast-two-container.ast-right-sidebar #secondary {
        padding-left: 30px;
        padding-right: 0;
    }

    .ast-separate-container.ast-two-container.ast-left-sidebar #secondary {
        padding-right: 30px;
        padding-left: 0;
    }
}

.elementor-button-wrapper .elementor-button {
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

body .elementor-button.elementor-size-sm, body .elementor-button.elementor-size-xs, body .elementor-button.elementor-size-md, body .elementor-button.elementor-size-lg, body .elementor-button.elementor-size-xl, body .elementor-button {
    border-radius: 50px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
}


.wp-block-button .wp-block-button__link, .elementor-button-wrapper .elementor-button, .elementor-button-wrapper .elementor-button:visited {
    color: #ffffff;
}

.elementor-button-wrapper .elementor-button {
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
}

body .elementor-button.elementor-size-sm, body .elementor-button.elementor-size-xs, body .elementor-button.elementor-size-md, body .elementor-button.elementor-size-lg, body .elementor-button.elementor-size-xl, body .elementor-button {
    font-size: 16px;
    font-size: 1rem;
}

.wp-block-button .wp-block-button__link {
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #0984e3;
    background-color: #0984e3;
    color: #ffffff;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
    font-size: 16px;
    font-size: 1rem;
    border-radius: 50px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
}

.wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
    color: #ffffff;
    background-color: #4a80ec;
    border-color: #4a80ec;
}

.elementor-widget-heading h1.elementor-heading-title {
    line-height: 1.2;
}

.elementor-widget-heading h2.elementor-heading-title {
    line-height: 1.2;
}


@media (min-width: 921px) {
    .ast-container {
        max-width: 100%;
    }
}

@media (min-width: 544px) {
    .ast-container {
        max-width: 100%;
    }
}

@media (max-width: 544px) {
    .ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single {
        padding: 1.5em 1em;
    }

    .ast-separate-container #content .ast-container {
        padding-left: 0.54em;
        padding-right: 0.54em;
    }

    .ast-separate-container #secondary {
        padding-top: 0;
    }

    .ast-separate-container.ast-two-container #secondary .widget {
        margin-bottom: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .ast-separate-container .comments-count-wrapper {
        padding: 1.5em 1em;
    }

    .ast-separate-container .ast-comment-list li.depth-1 {
        padding: 1.5em 1em;
        margin-bottom: 1.5em;
    }

    .ast-separate-container .ast-comment-list .bypostauthor {
        padding: .5em;
    }

    .ast-separate-container .ast-archive-description {
        padding: 1.5em 1em;
    }

    .ast-search-menu-icon.ast-dropdown-active .search-field {
        width: 170px;
    }

    .ast-separate-container .comment-respond {
        padding: 1.5em 1em;
    }
}

@media (max-width: 544px) {
    .ast-comment-list .children {
        margin-left: 0.66666em;
    }

    .ast-separate-container .ast-comment-list .bypostauthor li {
        padding: 0 0 0 .5em;
    }
}

@media (max-width: 921px) {
    .ast-mobile-header-stack .main-header-bar .ast-search-menu-icon {
        display: inline-block;
    }

    .ast-header-break-point.ast-header-custom-item-outside .ast-mobile-header-stack .main-header-bar .ast-search-icon {
        margin: 0;
    }

    .ast-comment-avatar-wrap img {
        max-width: 2.5em;
    }

    .comments-area {
        margin-top: 1.5em;
    }

    .ast-separate-container .comments-count-wrapper {
        padding: 2em 2.14em;
    }

    .ast-separate-container .ast-comment-list li.depth-1 {
        padding: 1.5em 2.14em;
    }

    .ast-separate-container .comment-respond {
        padding: 2em 2.14em;
    }
}

@media (max-width: 921px) {
    .ast-header-break-point .main-header-bar .ast-search-menu-icon.slide-search .search-form {
        right: 0;
    }

    .ast-header-break-point .ast-mobile-header-stack .main-header-bar .ast-search-menu-icon.slide-search .search-form {
        right: -1em;
    }

    .ast-comment-avatar-wrap {
        margin-right: 0.5em;
    }
}

@media (min-width: 545px) {
    .ast-page-builder-template .comments-area, .single.ast-page-builder-template .entry-header, .single.ast-page-builder-template .post-navigation {
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
    }
}

body, .ast-separate-container {
    background-color: #fafafa;
    background-image: none;
}

@media (max-width: 921px) {
    .ast-archive-description .ast-archive-title {
        font-size: 40px;
    }

    .entry-title {
        font-size: 30px;
    }

    h1, .entry-content h1 {
        font-size: 30px;
    }

    h2, .entry-content h2 {
        font-size: 25px;
    }

    h3, .entry-content h3 {
        font-size: 20px;
    }

    .ast-single-post .entry-title, .page-title {
        font-size: 22px;
    }
}

@media (max-width: 544px) {
    .ast-archive-description .ast-archive-title {
        font-size: 40px;
    }

    .entry-title {
        font-size: 30px;
    }

    h1, .entry-content h1 {
        font-size: 22px;
    }

    h2, .entry-content h2 {
        font-size: 25px;
    }

    h3, .entry-content h3 {
        font-size: 20px;
    }

    .ast-single-post .entry-title, .page-title {
        font-size: 20px;
    }

    .ast-header-break-point .site-branding img, .ast-header-break-point #masthead .site-logo-img .custom-logo-link img {
        max-width: 90px;
    }

    .astra-logo-svg {
        width: 90px;
    }

    .ast-header-break-point .site-logo-img .custom-mobile-logo-link img {
        max-width: 90px;
    }
}

@media (max-width: 921px) {
    html {
        font-size: 91.2%;
    }
}

@media (max-width: 544px) {
    html {
        font-size: 91.2%;
    }
}

@media (min-width: 922px) {
    .ast-container {
        max-width: 1240px;
    }
}

@font-face {
    font-family: "Astra";
    src: url(/static/imae/wp-content/themes/astra/assets/fonts/astra.woff) format("woff"), url(https://imaebs.com/imae/wp-content/themes/astra/assets/fonts/astra.ttf) format("truetype"), url(https://imaebs.com/imae/wp-content/themes/astra/assets/fonts/astra.svg#astra) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@media (max-width: 768px) {
    .main-header-bar .main-header-bar-navigation {
        display: none;
    }
}

.ast-desktop .main-header-menu.submenu-with-border .sub-menu, .ast-desktop .main-header-menu.submenu-with-border .astra-full-megamenu-wrapper {
    border-color: #c4c4c4;
}

.ast-desktop .main-header-menu.submenu-with-border .sub-menu {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
}

.ast-desktop .main-header-menu.submenu-with-border .sub-menu .sub-menu {
    top: -0px;
}

.ast-desktop .main-header-menu.submenu-with-border .sub-menu .menu-link, .ast-desktop .main-header-menu.submenu-with-border .children .menu-link {
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgba(39, 44, 108, 0.15);
}

@media (min-width: 922px) {
    .main-header-menu .sub-menu .menu-item.ast-left-align-sub-menu:hover > .sub-menu, .main-header-menu .sub-menu .menu-item.ast-left-align-sub-menu.focus > .sub-menu {
        margin-left: -0px;
    }
}

.ast-small-footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(17, 28, 91, 0.62);
}

@media (max-width: 920px) {
    .ast-404-layout-1 .ast-404-text {
        font-size: 100px;
        font-size: 6.25rem;
    }
}

.ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo .astra-logo-svg {
    width: 226px;
}

.ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo img {
    max-width: 226px;
}

@media (max-width: 921px) {
    .ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo .astra-logo-svg {
        width: 195px;
    }

    .ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo img {
        max-width: 195px;
    }
}

@media (max-width: 543px) {
    .ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo .astra-logo-svg {
        width: 162px;
    }

    .ast-theme-transparent-header #masthead .site-logo-img .transparent-custom-logo img {
        max-width: 162px;
    }
}

@media (min-width: 922px) {
    .ast-theme-transparent-header #masthead {
        position: absolute;
        left: 0;
        right: 0;
    }

    .ast-theme-transparent-header .main-header-bar, .ast-theme-transparent-header.ast-header-break-point .main-header-bar {
        background: none;
    }

    body.elementor-editor-active.ast-theme-transparent-header #masthead, .fl-builder-edit .ast-theme-transparent-header #masthead, body.vc_editor.ast-theme-transparent-header #masthead, body.brz-ed.ast-theme-transparent-header #masthead {
        z-index: 0;
    }

    .ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .custom-mobile-logo-link {
        display: none;
    }

    .ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo {
        display: inline-block;
    }

    .ast-theme-transparent-header .ast-above-header {
        background-image: none;
        background-color: transparent;
    }

    .ast-theme-transparent-header .ast-below-header {
        background-image: none;
        background-color: transparent;
    }
}

.ast-theme-transparent-header .site-title a, .ast-theme-transparent-header .site-title a:focus, .ast-theme-transparent-header .site-title a:hover, .ast-theme-transparent-header .site-title a:visited {
    color: #ffffff;
}

.ast-theme-transparent-header .site-header .site-description {
    color: #ffffff;
}

.ast-theme-transparent-header .main-header-menu .menu-item .sub-menu, .ast-header-break-point.ast-flyout-menu-enable.ast-header-break-point .main-header-bar-navigation .main-header-menu .menu-item .sub-menu {
    background-color: rgba(94, 94, 94, 0.63);
}

.ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item > .ast-menu-toggle {
    color: #ffffff;
}

.ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-link:hover, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item:hover > .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.focus > .menu-item, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.current-menu-item > .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.current-menu-item > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item:hover > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.focus > .ast-menu-toggle {
    color: #03b1b7;
}

.ast-theme-transparent-header .main-header-menu, .ast-theme-transparent-header .main-header-menu .menu-link, .ast-theme-transparent-header .ast-masthead-custom-menu-items, .ast-theme-transparent-header .ast-masthead-custom-menu-items a, .ast-theme-transparent-header .main-header-menu .menu-item > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item > .ast-menu-toggle {
    color: rgba(255, 255, 255, 0.91);
}

.ast-theme-transparent-header .main-header-menu .menu-item:hover > .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item:hover > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .ast-masthead-custom-menu-items a:hover, .ast-theme-transparent-header .main-header-menu .focus > .menu-link, .ast-theme-transparent-header .main-header-menu .focus > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .current-menu-item > .menu-link, .ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .menu-link, .ast-theme-transparent-header .main-header-menu .current-menu-item > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .ast-menu-toggle {
    color: #03b1b7;
}

@media (max-width: 921px) {
    .ast-theme-transparent-header #masthead {
        position: absolute;
        left: 0;
        right: 0;
    }

    .ast-theme-transparent-header .main-header-bar, .ast-theme-transparent-header.ast-header-break-point .main-header-bar {
        background: none;
    }

    body.elementor-editor-active.ast-theme-transparent-header #masthead, .fl-builder-edit .ast-theme-transparent-header #masthead, body.vc_editor.ast-theme-transparent-header #masthead, body.brz-ed.ast-theme-transparent-header #masthead {
        z-index: 0;
    }

    .ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .custom-mobile-logo-link {
        display: none;
    }

    .ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo {
        display: inline-block;
    }

    .ast-theme-transparent-header .ast-above-header {
        background-image: none;
        background-color: transparent;
    }

    .ast-theme-transparent-header .ast-below-header {
        background-image: none;
        background-color: transparent;
    }
}

@media (max-width: 921px) {
    .ast-theme-transparent-header .main-header-menu, .ast-theme-transparent-header.ast-header-break-point .main-header-bar-wrap .main-header-menu, .ast-flyout-menu-enable.ast-header-break-point.ast-theme-transparent-header .main-header-bar-navigation #site-navigation, .ast-fullscreen-menu-enable.ast-header-break-point.ast-theme-transparent-header .main-header-bar-navigation #site-navigation, .ast-flyout-above-menu-enable.ast-header-break-point.ast-theme-transparent-header .ast-above-header-navigation-wrap .ast-above-header-navigation, .ast-flyout-below-menu-enable.ast-header-break-point.ast-theme-transparent-header .ast-below-header-navigation-wrap .ast-below-header-actual-nav, .ast-fullscreen-above-menu-enable.ast-header-break-point.ast-theme-transparent-header .ast-above-header-navigation-wrap, .ast-fullscreen-below-menu-enable.ast-header-break-point.ast-theme-transparent-header .ast-below-header-navigation-wrap {
        background-color: #ffffff;
    }

    .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu, .ast-header-break-point.ast-flyout-menu-enable.ast-header-break-point .main-header-bar-navigation .main-header-menu .menu-item .sub-menu {
        background-color: #ffffff;
    }

    .ast-theme-transparent-header .main-header-menu, .ast-theme-transparent-header .main-header-menu .menu-link, .ast-theme-transparent-header .ast-masthead-custom-menu-items, .ast-theme-transparent-header .ast-masthead-custom-menu-items a, .ast-theme-transparent-header .main-header-menu .menu-item > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item > .ast-menu-toggle {
        color: #2f3f50;
    }

    .ast-theme-transparent-header .main-header-menu .menu-item:hover > .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item:hover > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .ast-masthead-custom-menu-items a:hover, .ast-theme-transparent-header .main-header-menu .focus > .menu-link, .ast-theme-transparent-header .main-header-menu .focus > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .current-menu-item > .menu-link, .ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .menu-link, .ast-theme-transparent-header .main-header-menu .current-menu-item > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .ast-menu-toggle {
        color: #0984e3;
    }
}

@media (max-width: 544px) {
    .ast-theme-transparent-header .main-header-menu, .ast-theme-transparent-header.ast-header-break-point .main-header-bar-wrap .main-header-menu, .ast-flyout-menu-enable.ast-header-break-point.ast-theme-transparent-header .main-header-bar-navigation #site-navigation, .ast-fullscreen-menu-enable.ast-header-break-point.ast-theme-transparent-header .main-header-bar-navigation #site-navigation, .ast-flyout-above-menu-enable.ast-header-break-point.ast-theme-transparent-header .ast-above-header-navigation-wrap .ast-above-header-navigation, .ast-flyout-below-menu-enable.ast-header-break-point.ast-theme-transparent-header .ast-below-header-navigation-wrap .ast-below-header-actual-nav, .ast-fullscreen-above-menu-enable.ast-header-break-point.ast-theme-transparent-header .ast-above-header-navigation-wrap, .ast-fullscreen-below-menu-enable.ast-header-break-point.ast-theme-transparent-header .ast-below-header-navigation-wrap {
        background-color: #ffffff;
    }

    .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item > .ast-menu-toggle {
        color: #a02424;
    }

    .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-link:hover, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item:hover > .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.focus > .menu-item, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.current-menu-item > .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.current-menu-item > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item:hover > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.focus > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item .sub-menu .menu-item.focus > .ast-menu-toggle {
        color: #1e73be;
    }

    .ast-theme-transparent-header .main-header-menu, .ast-theme-transparent-header .main-header-menu .menu-link, .ast-theme-transparent-header .ast-masthead-custom-menu-items, .ast-theme-transparent-header .ast-masthead-custom-menu-items a, .ast-theme-transparent-header .main-header-menu .menu-item > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item > .ast-menu-toggle {
        color: #2f3f50;
    }

    .ast-theme-transparent-header .main-header-menu .menu-item:hover > .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item:hover > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .ast-masthead-custom-menu-items a:hover, .ast-theme-transparent-header .main-header-menu .focus > .menu-link, .ast-theme-transparent-header .main-header-menu .focus > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .current-menu-item > .menu-link, .ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .menu-link, .ast-theme-transparent-header .main-header-menu .current-menu-item > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .ast-menu-toggle {
        color: #4a80ec;
    }
}

.ast-theme-transparent-header .main-header-bar, .ast-theme-transparent-header.ast-header-break-point .main-header-bar {
    border-bottom-width: 0;
    border-bottom-style: solid;
}

.ast-breadcrumbs .trail-browse, .ast-breadcrumbs .trail-items, .ast-breadcrumbs .trail-items li {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: inherit;
    text-indent: 0;
}

.ast-breadcrumbs .trail-browse {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
}

.ast-breadcrumbs .trail-items {
    list-style: none;
}

.trail-items li::after {
    padding: 0 0.3em;
    content: "\00bb";
}

.trail-items li:last-of-type::after {
    display: none;
}

h1, .entry-content h1, h2, .entry-content h2, h3, .entry-content h3, h4, .entry-content h4, h5, .entry-content h5, h6, .entry-content h6 {
    color: #2f3f50;
}

.elementor-widget-heading .elementor-heading-title {
    margin: 0;
}

.ast-header-break-point .main-header-bar {
    border-bottom-width: 1px;
    border-bottom-color: #dbdee0;
}

@media (min-width: 922px) {
    .main-header-bar {
        border-bottom-width: 1px;
        border-bottom-color: #dbdee0;
    }
}

.ast-safari-browser-less-than-11 .main-header-menu .menu-item, .ast-safari-browser-less-than-11 .main-header-bar .ast-masthead-custom-menu-items {
    display: block;
}

.main-header-menu .menu-item, .main-header-bar .ast-masthead-custom-menu-items {
    -js-display: flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-header-menu > .menu-item > .menu-link {
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -js-display: flex;
    display: flex;
}

.ast-primary-menu-disabled .main-header-bar .ast-masthead-custom-menu-items {
    flex: unset;
}

.header-main-layout-1 .ast-flex.main-header-container, .header-main-layout-3 .ast-flex.main-header-container {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .elementor-screen-only, .screen-reader-text {
        position: absolute;
        top: -10000em;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0
    }

    .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
        padding: 10px
    }

    .elementor-clearfix:after {
        content: "";
        display: block;
        clear: both;
        width: 0;
        height: 0
    }

    .elementor {
        -webkit-hyphens: manual;
        -ms-hyphens: manual;
        hyphens: manual
    }

    .elementor *, .elementor :after, .elementor :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .elementor .elementor-background-overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute
    }

    .elementor-widget-wrap > .elementor-element.elementor-absolute {
        position: absolute
    }

    .elementor-widget-wrap .elementor-element.elementor-widget__width-initial {
        max-width: 100%
    }

    .elementor-element.elementor-absolute {
        z-index: 1
    }

    .elementor-invisible {
        visibility: hidden
    }

    :root {
        --page-title-display: block
    }

    .elementor-section {
        position: relative
    }

    .elementor-section .elementor-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative
    }

    .elementor-row {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .elementor-widget-wrap {
        position: relative;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: start;
        align-content: flex-start
    }

    .elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .elementor-widget-wrap > .elementor-element {
        width: 100%
    }

    .elementor-widget {
        position: relative
    }

    .elementor-column, .elementor-column-wrap {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .elementor-column {
        min-height: 1px
    }

    .elementor-column-wrap {
        width: 100%
    }

    .elementor-accordion .elementor-tab-title .elementor-accordion-icon .elementor-accordion-icon-opened {
        display: none
    }

    .elementor-accordion .elementor-tab-content {
        display: none;
        padding: 15px 20px;
        border-top: 1px solid #d4d4d4
    }

    .elementor-icon {
        display: inline-block;
        line-height: 1;
        color: #818a91;
        font-size: 50px;
        text-align: center
    }

    .elementor-icon i {
        width: 1em;
        height: 1em;
        position: relative;
        display: block
    }

    .elementor-icon i:before {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .elementor-view-stacked .elementor-icon {
        padding: .5em;
        background-color: #818a91;
        color: #fff;
        fill: #fff
    }

    .elementor-shape-circle .elementor-icon {
        -webkit-border-radius: 50%;
        border-radius: 50%
    }

    .elementor-widget-icon-box .elementor-icon-box-wrapper {
        text-align: center
    }

    .elementor-widget-icon-box .elementor-icon-box-content {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .elementor-widget-image-box .elementor-image-box-content {
        width: 100%
    }

    .elementor-widget-image-box .elementor-image-box-wrapper {
        text-align: center
    }

    .elementor-widget-image-box .elementor-image-box-description {
        margin: 0
    }

    .elementor-shape {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 0;
        direction: ltr
    }

    .elementor-shape-bottom {
        bottom: -1px
    }

    .elementor-shape-bottom:not([data-negative=true]) svg {
        z-index: -1
    }

    .elementor-shape[data-negative=false].elementor-shape-bottom {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    .elementor-shape svg {
        display: block;
        width: calc(100% + 1.3px);
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .elementor-shape .elementor-shape-fill {
        fill: #eee;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }

    .elementor-kit-24888 {
        --e-global-color-primary: #6ec1e4;
        --e-global-color-secondary: #54595f;
        --e-global-color-text: #7a7a7a;
        --e-global-color-accent: #61ce70;
        --e-global-typography-primary-font-family: "Roboto";
        --e-global-typography-primary-font-weight: 600;
        --e-global-typography-secondary-font-family: "Roboto Slab";
        --e-global-typography-secondary-font-weight: 400;
        --e-global-typography-text-font-family: "Roboto";
        --e-global-typography-text-font-weight: 400;
        --e-global-typography-accent-font-family: "Roboto";
        --e-global-typography-accent-font-weight: 500
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        /*max-width: 1140px*/
    }

    .elementor-25058 .elementor-element.elementor-element-53d02b5a > .elementor-container {
        max-width: 824px
    }

    .elementor-25058 .elementor-element.elementor-element-53d02b5a:not(.elementor-motion-effects-element-type-background) {
        background-color: #fff;
        background-image: url(/static/imae/wp-content/uploads/2020/12/iStock-533334866-lightbulb.jpg);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: cover
    }

    .elementor-25058 .elementor-element.elementor-element-53d02b5a > .elementor-background-overlay {
        background-color: transparent;
        background-image: linear-gradient(360deg, rgba(9, 132, 227, .85) 57%, rgba(0, 59, 177, .98) 86%);
        opacity: .8;
        mix-blend-mode: color
    }

    .elementor-25058 .elementor-element.elementor-element-53d02b5a {
        padding: 678px 0 199px
    }

    .elementor-25058 .elementor-element.elementor-element-53d02b5a > .elementor-shape-bottom .elementor-shape-fill {
        fill: white;
    }

    .elementor-25058 .elementor-element.elementor-element-53d02b5a > .elementor-shape-bottom svg {
        width: calc(209% + 1.3px);
        height: 103px;
        transform: translateX(-50%) rotateY(180deg)
    }

    .elementor-25058 .elementor-element.elementor-element-75de0c89 .elementor-image-box-wrapper {
        text-align: right
    }

    .elementor-25058 .elementor-element.elementor-element-75de0c89 .elementor-image-box-title {
        margin-bottom: 26px
    }

    .elementor-25058 .elementor-element.elementor-element-75de0c89 .elementor-image-box-content .elementor-image-box-title {
        color: #fff;
        font-family: "Open Sans", Sans-serif;
        font-size: 57px;
        line-height: 1.1em;
        letter-spacing: -1.5px
    }

    .elementor-25058 .elementor-element.elementor-element-75de0c89 .elementor-image-box-content .elementor-image-box-description {
        color: #fff;
        font-family: "Open Sans", Sans-serif;
        font-size: 19px;
        font-weight: 300;
        line-height: 1.3em;
        letter-spacing: .2px
    }

    .elementor-25058 .elementor-element.elementor-element-75de0c89 > .elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-25058 .elementor-element.elementor-element-75de0c89 {
        width: 434px;
        max-width: 434px;
        top: -433.934px
    }

    body:not(.rtl) .elementor-25058 .elementor-element.elementor-element-75de0c89 {
        left: 393.973px
    }

    .elementor-25058 .elementor-element.elementor-element-1e537621:not(.elementor-motion-effects-element-type-background) {
        background-color: white;
    }

    .elementor-25058 .elementor-element.elementor-element-1e537621 {
        padding: 0 0 96px
    }

    .elementor-25058 .elementor-element.elementor-element-5b4952c1 > .elementor-container {
        max-width: 1130px
    }

    .elementor-25058 .elementor-element.elementor-element-5b4952c1 {
        margin-top: -136px;
        margin-bottom: 0;
        padding: 0;
        z-index: 1
    }

    .elementor-25058 .elementor-element.elementor-element-4fd7f709:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap {
        background-color: #fff
    }

    .elementor-25058 .elementor-element.elementor-element-4fd7f709 > .elementor-element-populated {
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
        margin: 20px;
        padding: 30px
    }

    .elementor-25058 .elementor-element.elementor-element-94bce2e.elementor-view-stacked .elementor-icon {
        background-color: #040a30
    }

    .elementor-25058 .elementor-element.elementor-element-94bce2e.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 10px
    }

    .elementor-25058 .elementor-element.elementor-element-94bce2e .elementor-icon {
        font-size: 42px
    }

    .elementor-25058 .elementor-element.elementor-element-442c7c2 .elementor-icon i, .elementor-25058 .elementor-element.elementor-element-94bce2e .elementor-icon i, .elementor-25058 .elementor-element.elementor-element-a4dfd3d .elementor-icon i {
        transform: rotate(0deg)
    }

    .elementor-25058 .elementor-element.elementor-element-94bce2e .elementor-icon-box-wrapper {
        text-align: center
    }

    .elementor-25058 .elementor-element.elementor-element-94bce2e .elementor-icon-box-title {
        margin-bottom: 10px
    }

    .elementor-25058 .elementor-element.elementor-element-94bce2e > .elementor-widget-container {
        padding: 0 30px 15px
    }

    .elementor-25058 .elementor-element.elementor-element-1ce5f945:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap {
        background-color: #fff
    }

    .elementor-25058 .elementor-element.elementor-element-1ce5f945 > .elementor-element-populated {
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
        margin: 20px;
        padding: 30px
    }

    .elementor-25058 .elementor-element.elementor-element-442c7c2.elementor-view-stacked .elementor-icon {
        background-color: #040a30
    }

    .elementor-25058 .elementor-element.elementor-element-442c7c2.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 10px
    }

    .elementor-25058 .elementor-element.elementor-element-442c7c2 .elementor-icon {
        font-size: 42px
    }

    .elementor-25058 .elementor-element.elementor-element-442c7c2 .elementor-icon-box-wrapper {
        text-align: center
    }

    .elementor-25058 .elementor-element.elementor-element-442c7c2 > .elementor-widget-container {
        padding: 0 30px 15px
    }

    .elementor-25058 .elementor-element.elementor-element-3c0f7d8a:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap {
        background-color: #fff
    }

    .elementor-25058 .elementor-element.elementor-element-3c0f7d8a > .elementor-element-populated {
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
        margin: 20px;
        padding: 30px
    }

    .elementor-25058 .elementor-element.elementor-element-a4dfd3d.elementor-view-stacked .elementor-icon {
        background-color: #040a30
    }

    .elementor-25058 .elementor-element.elementor-element-a4dfd3d.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 10px
    }

    .elementor-25058 .elementor-element.elementor-element-a4dfd3d .elementor-icon {
        font-size: 42px
    }

    .elementor-25058 .elementor-element.elementor-element-a4dfd3d .elementor-icon-box-wrapper {
        text-align: center
    }

    .elementor-25058 .elementor-element.elementor-element-a4dfd3d > .elementor-widget-container {
        padding: 0 30px 15px
    }

    .far, .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900
    }

    .fa-calendar-times:before {
        content: "\f273"
    }

    .fa-chalkboard-teacher:before {
        content: "\f51c"
    }

    .fa-star:before {
        content: "\f005"
    }

    .far {
        font-weight: 400
    }
